 @import 'config';
 /*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio{
    &-item{
      margin-bottom: 30px;
    }
    &-wrap{
      transition: 0.3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      opacity: 1;
      left: 0;
      right: 0;
      bottom: -60px;
      z-index: 3;
      position: absolute;
      display: flex;
      justify-content: center;
    }
  }
    
    /*--------------------------------------------------------------
    # Portfolio Details
    --------------------------------------------------------------*/
    .project-details {
      padding-top: 40px;
    }
    .project-details .project-details-slider img {
      width: 100%;
    }
    .project-details .project-details-slider .swiper-pagination {
      margin-top: 20px;
      position: relative;
    }
    .project-details .project-details-slider .swiper-pagination .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: #fff;
      opacity: 1;
      border: 1px solid #149ddd;
    }
    .project-details .project-details-slider .swiper-pagination .swiper-pagination-bullet-active {
      background-color: #149ddd;
    }
    .project-details .portfolio-info {
      padding: 30px;
      box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
    }
    .project-details .portfolio-info h3 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
    }
    .project-details .portfolio-info ul {
      list-style: none;
      padding: 0;
      font-size: 15px;
    }
    .project-details .portfolio-info ul li + li {
      margin-top: 10px;
    }
    .project-details .portfolio-description {
      padding-top: 30px;
    }
    .project-details .portfolio-description h2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .project-details .portfolio-description p {
      padding: 0;
    }
    .project-link{
      color: black;
    }
    /*--------------------------------------------------------------
# Project-Skills
--------------------------------------------------------------*/
  .content-skills {
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   li{
    background: #40484d;
    border-radius: 2px;
    display: inline-block;
    padding: 2px 10px;
    color: rgba(255, 255, 255, 0.7);
    margin: 3px 2px;
    text-align: center;
    flex-grow: 1;
   }
  }
